flask>=3.0.3,<4
python-telegram-bot>=20.8,<22
psycopg2-binary>=2.9.10,<3
gunicorn>=23.0.0,<24
python-dotenv>=1.0.1,<2
werkzeug>=3.0.6,<4
itsdangerous>=2.2.0,<3
jinja2>=3.1.6,<4
pytz>=2024.1
requests>=2.32.4,<3
schedule>=1.2.2,<2
aiohttp>=3.9,<4
pyTelegramBotAPI>=4.26.0,<5
